[Desktop Entry]
Name=Nvidia driver installer
Comment=Install proprietary nvidia driver from repo
Icon=preferences-system
Type=Application
Terminal=true
Exec=su-to-root -c "/usr/local/bin/ddm-mx -i nvidia"
Categories=ConsoleOnly;System;MX-Setup;
