[Desktop Entry]
Name=AMD/ATI fglrx driver installer
Comment=Install AMD/ATI fglrx driver from repo
Icon=amd-ddm-mx
Type=Application
Terminal=true
Exec=su-to-root -c "/usr/local/bin/ddm-mx -i ati"
Categories=ConsoleOnly;System;MX-Setup;
