[Desktop Entry]
Name=Nvidia driver installer
Name[am]=Nvidia driver መግጠሚያ
Name[ca]=Instal·lador de controladors Nvidia
Name[cs]=Instalátor ovladačů pro Nvidia
Name[de]=Nvidia-Treiber Installateur
Name[el]=Nvidia driver installer
Name[es]=Instalador de controlador Nvidia
Name[fr]=Installateur de pilote Nvidia
Name[hu]=Nvidia illesztőprogram-telepítő
Name[it]=Installa driver Nvidia
Name[ja]=Nvidia ドライバーインストール
Name[lt]=Nvidia tvarkyklės diegimo programa
Name[nl]=Nvidia driver installeerder
Name[pt]=Instalador de controlador Nvidia
Name[ru]=Установщик Nvidia драйверов
Name[sk]=Inštalátor ovládačov NVIDIA
Name[sv]=Nvidia drivrutin-installerare
Comment=Install proprietary nvidia driver from repo
Comment[ca]=Instal·la controladors propietaris Nvidia del dipòsit
Comment[cs]=Nainstaluje ovladače pro Nvidia z repozitáře
Comment[de]=Proprietären Nvidia-Treiber aus dem Repo installieren
Comment[el]=Εγκατάσταση του ιδιόκτητου οδηγό της NVIDIA
Comment[es]=Instalar controlador propietario Nvidia del repo
Comment[fr]=Installe le pilote Nvidia propriétaire depuis les dépôts
Comment[hu]=Zárt nvidia illesztőprogram telepítése tárolóból
Comment[it]=Installare il driver proprietario Nvidia dai repo
Comment[ja]=リポジトリから独自 Nvidia ドライバーをインストールします
Comment[lt]=Įdiegti iš saugyklos nuosavybinę nvidia tvarkyklę
Comment[nl]=Installeer nvidia eigendomsdriver van pakketbron
Comment[pt]=Instala o controlador não-livre Nvidia a partir do repositório
Comment[ru]=Установить проприетарный nvidia драйвер из репозиториев
Comment[sk]=Inštalovať ovládače NVIDIA
Comment[sv]=Installera proprietär nvidia drivrutin från förråd
Icon=nvidia-ddm-mx
Type=Application
Terminal=true
Exec=su-to-root -c "/usr/local/bin/ddm-mx -i nvidia"
Categories=ConsoleOnly;System;MX-Setup;
