[Desktop Entry]
Name=Nvidia driver installer
Name[am]=Nvidia driver መግጠሚያ
Name[ar]=Nvidia driver installer
Name[bg]=Nvidia driver installer
Name[ca]=Instal·lador de controladors Nvidia
Name[cs]=Instalátor ovladačů pro Nvidia
Name[da]=Nvidia-driverinstallationsprogram
Name[de]=Nvidia-Treiber Installation
Name[el]=Nvidia driver installer
Name[es]=Instalador de controlador Nvidia
Name[et]=Nvidia driver installer
Name[eu]=Nvidia driver installer
Name[fa]=Nvidia driver installer
Name[fi]=Nvidia-ajurien asennusohjelma
Name[fr]=Installateur de pilote Nvidia
Name[he_IL]=Nvidia driver installer
Name[hi]=Nvidia driver installer
Name[hr]=Nvidia driver installer
Name[hu]=Nvidia illesztőprogram-telepítő
Name[id]=Nvidia driver installer
Name[is]=Nvidia driver installer
Name[it]=Installa driver Nvidia
Name[ja_JP]=Nvidia driver installer
Name[ja]=Nvidia ドライバーインストール
Name[kk]=Nvidia driver installer
Name[ko]=Nvidia driver installer
Name[lt]=Nvidia tvarkyklės diegimo programa
Name[mk]=Nvidia driver installer
Name[nb]=Nvidia driver installer
Name[nl]=Nvidia driver installeerder
Name[pl]=Instalator sterowników Nvidia
Name[pt_BR]=Instalador do driver Nvidia
Name[pt]=Instalador do controlador Nvidia
Name[ro]=Nvidia driver installer
Name[ru]=Установщик Nvidia драйверов
Name[sk]=Inštalátor ovládačov NVIDIA
Name[sl]=Namestitev Nvidia gonilnikov
Name[sq]=Nvidia driver installer
Name[sr]=Nvidia driver installer
Name[sv]=Nvidia drivrutin-installerare
Name[tr]=Nvidia driver installer
Name[uk]=Nvidia driver installer
Name[zh_CN]=Nvidia driver installer
Name[zh_TW]=安裝 Nvidia 驅動程式
Comment=Install proprietary nvidia driver from repo
Comment[am]=Install proprietary nvidia driver from repo
Comment[ar]=Install proprietary nvidia driver from repo
Comment[bg]=Install proprietary nvidia driver from repo
Comment[ca]=Instal·la controladors propietaris Nvidia del dipòsit
Comment[cs]=Nainstaluje ovladače pro Nvidia z repozitáře
Comment[da]=Installer proprietær nvidia-driver fra softwarekilde
Comment[de]=Proprietären Nvidia-Treiber aus dem Repo installieren
Comment[el]=Εγκατάσταση του ιδιόκτητου οδηγό της NVIDIA
Comment[es]=Instalar controlador propietario Nvidia del repo
Comment[et]=Install proprietary nvidia driver from repo
Comment[eu]=Install proprietary nvidia driver from repo
Comment[fa]=Install proprietary nvidia driver from repo
Comment[fi]=Asenna pakettivarastosta Nvidian suljettu ajuri
Comment[fr]=Installe le pilote Nvidia propriétaire depuis les dépôts
Comment[he_IL]=Install proprietary nvidia driver from repo
Comment[hi]=Install proprietary nvidia driver from repo
Comment[hr]=Install proprietary nvidia driver from repo
Comment[hu]=Zárt nvidia illesztőprogram telepítése tárolóból
Comment[id]=Install proprietary nvidia driver from repo
Comment[is]=Install proprietary nvidia driver from repo
Comment[it]=Installare il driver proprietario Nvidia dai repo
Comment[ja_JP]=Install proprietary nvidia driver from repo
Comment[ja]=リポジトリから独自 Nvidia ドライバーをインストールします
Comment[kk]=Install proprietary nvidia driver from repo
Comment[ko]=Install proprietary nvidia driver from repo
Comment[lt]=Įdiegti iš saugyklos nuosavybinę nvidia tvarkyklę
Comment[mk]=Install proprietary nvidia driver from repo
Comment[nb]=Install proprietary nvidia driver from repo
Comment[nl]=Installeer nvidia eigendomsdriver van pakketbron
Comment[pl]=Zainstaluj zastrzeżony sterownik nvidia z repozytorium
Comment[pt_BR]=Instala o driver Nvidia não-livre a partir do repositório [nvidia driver]
Comment[pt]=Instala o controlador não-livre Nvidia a partir do repositório [nvidia-driver]
Comment[ro]=Install proprietary nvidia driver from repo
Comment[ru]=Установить проприетарный nvidia драйвер из репозиториев
Comment[sk]=Inštalovať ovládače NVIDIA
Comment[sl]=Iz repozitorija namesti avtorsko zaščitene Nvidia gonilnike
Comment[sq]=Install proprietary nvidia driver from repo
Comment[sr]=Install proprietary nvidia driver from repo
Comment[sv]=Installera proprietär nvidia drivrutin från förråd
Comment[tr]=Install proprietary nvidia driver from repo
Comment[uk]=Install proprietary nvidia driver from repo
Comment[zh_CN]=Install proprietary nvidia driver from repo
Comment[zh_TW]=從軟體倉庫安裝 nvidia 持有的驅動程式
Icon=nvidia-ddm-mx
Type=Application
Terminal=true
Exec=su-to-root -c "/usr/local/bin/ddm-mx -i nvidia"
Categories=ConsoleOnly;System;MX-Setup;
